<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails1.jpg">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Chris on May 17th, 2014</small>
        <p>Pellentesque quis maximus mauris. Ut accumsan magna a viverra viverra. Integer quis risus fringilla, finibus ante in, placerat sapien. Vestibulum porta sollicitudin sapien et accumsan. Donec pharetra, purus sed pretium consectetur, massa sapien ultrices lorem, sit amet egestas sem felis non justo. Phasellus eget leo ut est aliquam auctor ut at diam. Donec sed rhoncus justo. Donec et dictum odio, vel luctus enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras viverra dolor urna, a tristique dui malesuada id. Vestibulum facilisis massa eget enim eleifend vestibulum.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails1.jpg">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Chris on May 17th, 2014</small>
        <p>Pellentesque quis maximus mauris. Ut accumsan magna a viverra viverra. Integer quis risus fringilla, finibus ante in, placerat sapien. Vestibulum porta sollicitudin sapien et accumsan. Donec pharetra, purus sed pretium consectetur, massa sapien ultrices lorem, sit amet egestas sem felis non justo. Phasellus eget leo ut est aliquam auctor ut at diam. Donec sed rhoncus justo. Donec et dictum odio, vel luctus enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras viverra dolor urna, a tristique dui malesuada id. Vestibulum facilisis massa eget enim eleifend vestibulum.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>
 <div class="row">
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails1.jpg">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Chris on May 17th, 2014</small>
        <p>Pellentesque quis maximus mauris. Ut accumsan magna a viverra viverra. Integer quis risus fringilla, finibus ante in, placerat sapien. Vestibulum porta sollicitudin sapien et accumsan. Donec pharetra, purus sed pretium consectetur, massa sapien ultrices lorem, sit amet egestas sem felis non justo. Phasellus eget leo ut est aliquam auctor ut at diam. Donec sed rhoncus justo. Donec et dictum odio, vel luctus enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras viverra dolor urna, a tristique dui malesuada id. Vestibulum facilisis massa eget enim eleifend vestibulum.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="post">
      <img src="images/rails1.jpg">
      <div class="post-content">
        <h3>Lorem Ipsum</h3>
        <small>Posted by Chris on May 17th, 2014</small>
        <p>Pellentesque quis maximus mauris. Ut accumsan magna a viverra viverra. Integer quis risus fringilla, finibus ante in, placerat sapien. Vestibulum porta sollicitudin sapien et accumsan. Donec pharetra, purus sed pretium consectetur, massa sapien ultrices lorem, sit amet egestas sem felis non justo. Phasellus eget leo ut est aliquam auctor ut at diam. Donec sed rhoncus justo. Donec et dictum odio, vel luctus enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras viverra dolor urna, a tristique dui malesuada id. Vestibulum facilisis massa eget enim eleifend vestibulum.</p>
        <a class="btn btn-primary btn-block">Read More</a>
      </div>
    </div>
  </div>
</div>